---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<!doctype html>
<html lang="en">
	<head>
      <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
      <Header />
      <main>
        <h1>🖤 Welcome to The Black Cat Blog! 🐾</h1>
          <p>
				  Welcome to The Black Cat Blog, your gateway to a world of exploration and discovery. Here, we delve into an eclectic mix of topics that pique our interest, from the intricate workings of Linux tools to the depths of psychology and beyond.
                  </p>
          <p>
                  Embark on a journey with us as we uncover hidden gems, share insights, and ignite the spark of curiosity within you.
          </p>
          <p>
          Here's how to navigate your way through our cosmic corner of the internet:
          </p>
          <ul>
                  <li>Explore the <a href="/linux-tools">Linux Tools</a> section to discover the latest tips, tricks, and tutorials for maximizing your efficiency and productivity.</li>
            <li>Dive into the <a href="/psychology">Psychology</a> section to unravel the mysteries of the human mind and gain insights into behavior, cognition, and emotion.</li>
            <li>Keep an eye out for our <a href="/blog">Blog</a> posts, where we share musings, reflections, and deep dives into a wide range of topics that capture our curiosity.</li>
            <li>Connect with us on <a href="https://twitter.com/theblackcatblog">Twitter</a> to stay updated on the latest blog posts, announcements, and behind-the-scenes glimpses into our creative process.</li>
          </ul>
          <p>
            Ready to embark on this cosmic journey of exploration? Grab your curiosity by the hand and join us as we navigate the vast expanse of knowledge and wonder.
          </p>
          <p>
            Have questions or feedback? Don't hesitate to <a href="/contact">reach out</a>. We'd love to hear from you!
          </p>
          <p>
            Keep exploring, stay curious, and never stop seeking knowledge.
          </p>
      </main>
      <Footer />
	</body>
</html>
